<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Client.Properties.Settings.ConnectionString" connectionString="Dsn=Mysql;uid=sql29409;pwd=Aa3969889!"
            providerName="System.Data.Odbc" />
        <add name="Client.Properties.Settings.sql29409ConnectionString"
            connectionString="User Id=sql29409;Password=Aa3969889!;Host=sql29409.db.10825756.hostedresource.com;Database=sql29409;Persist Security Info=True"
            providerName="Devart.Data.MySql" />
        <add name="Client.Properties.Settings.ConnectionString1" connectionString="Dsn=brpMySqlServer;uid=sql29409;pwd=Aa3969889!"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>